.review-list {
  margin: 10px;
}

.review-list h3 {
  margin: 40px 0 20px;
  font-weight: 700;
  font-size: 24px;
}

@media (min-width: 576px) {
  .review-list {
    margin:40px;
  }
}

@media (min-width: 1200px) {
  .review-list {
    width: 1000px;
    margin: 40px auto;
  }
}
