.form-container {
  padding: 10px;
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.btn-container button {
  background: #ffc700;
  border-radius: 4px;
  font-weight: 700;
  height: 50px;
  max-width: 330px;
}

@media (min-width: 576px) {
  .form-container {
    padding: 20px;
  }

  .btn-container button {
    max-width: 100%;
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .btn-container {
    max-width: 400px;
    margin: 20px auto;
  }
}
